@charset "UTF-8";
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400|Work+Sans:400,500,600');

html
{
    height: 100%;
    background: #f1f1ee;
    margin: 0;
    padding: 0;
}

body
{
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6, nav
{
    font-family: "Work Sans", sans-serif;
}

h1
{
    color: #f89939;
    margin: 0;
}

h2
{
    color: #242526;
}

.h1-line
{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    border: 0;
    height: 1px;
    width: 70px;
    margin-bottom: 40px;
}

nav ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

*
{
    box-sizing: border-box;
}

main
{
    padding: 28px 0;
    flex: 1 0 auto;
    height: 100%;
}

a
{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

.container
{
    max-width: 980px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
    text-align: center;
    height: 100%;
    vertical-align: middle;
}

.seperator
{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/***************************/

/*HEADER*/

.site-header
{
    padding: 30px 0px;
    padding-bottom: 20px;
}

.main-nav
{
    margin-top: 25px;
    margin-bottom: 15px;
}

.main-nav li
{
    display: inline-block;
}

.main-nav a
{
    color: #242526;
    padding: 0px 20px;
}

.current a
{
    color: #478ac8;
}

/*END HEADER*/

/***************************/


/*FOOTER*/

.site-footer
{
    padding: 20px 0px;
    margin-left: 50px;
    margin-right: 50px;
    flex-shrink: 0;
}

.footer-links
{
    padding-right: 30px;
}

.footer-links li
{
    display: inline-block;
}

.footer-links a
{
    color: #242526;
    padding: 0px 10px;
}

.footer-copyrights
{
    margin-top: 25px;
    color: #242526;
}

.visuallyhidden
{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

a:hover .fa
{
  color: #000;
}

/*END FOOTER*/

/***************************/

/*HOME*/

#first-row {
    background-color: #B3D4FC;
    font-size: 18px;
    width: 100%;
    margin: auto;
    padding: 80px;
    margin-bottom: 3px;
    min-width: 461px;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    letter-spacing: 1.5px;
}

#first-row p{
    font-size: 23px;
    margin: 0;
    padding-bottom: 5px;
}

#sagee-conway {
    color: #f89939;
}

#left-col {
    background-color: #BFABAA;
    margin-right: 1px;
    width: 49.5%;
    color: #000000;
    display: inline-block;
    *display: inline;
    vertical-align: top;
    min-width: 461px;
}

#left-col:hover, #right-col:hover{
    opacity: 0.8;
}

#left-col p, #right-col p{
    padding: 30px 10px;
    margin: 0;
    letter-spacing: 2px;
}

#left-col img{
    padding-top: 30px;
}

#right-col {
    background-color: #FFFFFF;
    display: inline-block;
    *display: inline;
    width: 49.5%;
    margin-left: 1px;
    color: #000000;
    vertical-align: top;
    min-width: 461px;
}

#right-col img{
    padding-bottom: 30px;
}

#second-row {
    font-size: 20px;
    color: #000000;
    width: 100%;
    margin: auto;
    padding: 0;
    margin-top: 3px;
}

@media only screen and (max-width: 985px){
    #first-row{
        width: 100%;
        min-height: 224.4px;
        display: table;
        min-width: inherit;
        max-width: 461px;
        margin-bottom: 20px;
        padding: 40px;
    }
    #first-row p{
          text-align:center;
          vertical-align: middle;
    }
    #left-col{
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 600px){
    #first-row{
        width: 87%;
        padding: 20px;
    }
    #left-col{
        display: block;
        width: 87%;
        margin: auto;
        margin-bottom: 20px;
        min-width: inherit;
    }
    #right-col{
        display: block;
        width: 87%;
        margin: auto;
        min-width: inherit;
    }
}

/*END HOME*/

/***************************/

/*PROJECTS*/

.project-img
{
    max-width: 100%;
}

.project-div
{
    margin: 40px 0;
}

.project-div p
{
    padding: 100px 0;
}

.img-wrap img
{
    transition: opacity 0.3s ease;
}

.img-wrap img:hover {
    opacity: 0.8;
}

.my-h2 {
    margin-top: 10px;
}

.btn
{
    display: inline-block;
    cursor: pointer;
    border: 3px solid #478ac8;
    background: #478ac8;
    text-align: center;
    letter-spacing: 0.5px;
    padding: 5px;
    color: #fff;
    margin-bottom: 20px;
}

.column {
    float: left;
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 50px;
}

.row
{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.project-p
{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1000px){
    .row{
/*        margin: auto;*/
    }
    .column{
        width: 80%;
        float: none;
        margin: auto;
        margin-bottom: 100px;
        margin-top: 100px;
    }
    .project-p{
        width: 90%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;

    }
}

/*END PROJECTS*/

/***************************/

/*CONTACT ME*/


.div-message
{
    background-color: #b3d4fd;
    width: 800px;
    height: 200px;
    margin: inherit;
    margin-bottom: 3px;
    text-align: center;
    float: none;
}

/*END CONTACT ME*/





